---

import Layout from '../../layouts/Layout.astro';
import Navbar from '../../components/Navbar.astro';
import Hero from './_components/Hero.astro';
import Services from './_components/Services.astro';
import Solutions from './_components/Solutions.astro';
import Community from './_components/Community.astro';
import Footer from './_components/Footer.astro';
import Onboarding from '../../components/Onboarding.svelte';

const title = "LENTERA - Terangi Jalur Belajarmu dengan AI Mentor Lokal";
const description = "Platform belajar inovatif yang menggunakan AI untuk menjelaskan konsep rumit melalui analogi kearifan lokal Indonesia.";
---

<Layout {title} {description}>
  <div class="bg-[#F8FAFC] selection:bg-[#6320EE]/10 selection:text-[#6320EE]">
    <main>
      <Navbar />
      
      <Hero>
        { /* @ts-ignore */ }
        <Onboarding client:load />
      </Hero>

      <Services />

      <Solutions />

      <Community />
      
      <Footer />
    </main>
  </div>
</Layout>